<div class="header-empty"></div>
<header>
  <!-- Application Link -->
  <a class="header-cell" href="#" routerLink="/user-main">Algolibrary</a>
  
  <!-- Dropdown for Themes -->
  <div class="dropdown">
    <button class="header-button" 
      (mouseenter)="showDropdown()" 
      (mouseleave)="hideDropdown()">Themes</button>
    <div class="dropdown-content" 
      (mouseenter)="showDropdown()" 
      (mouseleave)="hideDropdown()" 
      [ngStyle]="{ display: dropdownVisible ? 'block' : 'none' }">
      <a href="/lessons">Neural Network</a>
      <a href="/lessons">Generative AI</a>
      <a href="/lessons">Computer Vision</a>
      <a href="/lessons">Cryptography</a>
      <a href="/lessons">Theory of Games</a>
    </div>
  </div>

  <!-- Search Bar -->
  <div class="search-container">
    <input style="color: #fff" class="form-control" type="search" placeholder="Search..." aria-label="Search">
    <button class="search-button" type="submit">
      <i style="color: #fff" class="fa fa-search"></i>
    </button>
  </div>

  <!-- Palette Icon -->
  <a class="header-cell" style="width: 50px;">
    <i class="fa-solid fa-palette"></i>
  </a>

  <!-- Subscription Link -->
  <a class="header-cell" href="/subscription">
    <i class="fa-solid fa-feather"></i>&nbsp;Subscription
  </a>

  <!-- Laboratory Link -->
  <a class="header-cell" href="/laboratory">
    <i class="fa-solid fa-flask"></i>&nbsp;Laboratory
  </a>

  <!-- Globe Icon -->
  <a class="header-cell" style="width: 50px;">
    <i class="fa-solid fa-globe"></i>
  </a>

  <!-- Conditional Login/Sign Up Links -->
  <div *ngIf="!isAuthenticated">
    <a class="header-cell" style="width: 80px;" routerLink="/authentication" [queryParams]="{ form: 'login' }">Login</a>
    <a class="header-cell" style="width: 80px;" routerLink="/authentication" [queryParams]="{ form: 'signup' }">Sign up</a>
  </div>

  <!-- User Profile (conditionally displayed when logged in) -->
  <div *ngIf="isAuthenticated">
    <a style="text-decoration: none;" href="#" routerLink="/logout" class="header-link">
      <span class="header-cell" style="width: 80px;">{{ usernamePlaceholder }}</span>
    </a>
  </div>
</header>
