<a (click)="goBack()" class="back-button">
    <i class="fas fa-arrow-left"></i>
</a>

<div class="container d-flex flex-column flex-lg-row align-items-center justify-content-between min-vh-100 px-4">
    <div class="col-lg-6 text-lg-start left-panel">
        <h1 class="display-6 text-success">AlgoLib</h1>
        <h2 class="h4 mt-3">Explore the World of Algorithms with Us</h2>
        <p class="mt-2">Log in to access AlgoLib features</p>
        <ul class="list-unstyled mt-4 benefits">
            <li>✔ Increased accessibility</li>
            <li>✔ Deeper understanding of algorithms</li>
            <li>✔ Improved coding skills</li>
            <li>✔ Accelerated learning</li>
            <li>✔ Versatility for projects with different tech stacks</li>
            <li>✔ Community support</li>
        </ul>
    </div>
    <div class="col-lg-6 p-4 justify-content-center right-panel">
        <app-registration-login></app-registration-login>
    </div>
</div>
