<app-algorithm-header></app-algorithm-header>

<app-laboratory-modal></app-laboratory-modal>

<main class="project-main">
    <div class="header">
        <h1>Projects</h1>
        <div class="controls">
            <div class="sort">
                <span>Sort</span>
                <button class="sort-btn">Date</button>
                <button class="sort-btn">A - Z</button>
            </div>

            <app-laboratory-language></app-laboratory-language>

        </div>
    </div>

<app-laboratory-container></app-laboratory-container>

</main>   

<app-algorithm-footer></app-algorithm-footer>