.project-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Зображення проекту */
.project-image {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    position: relative;
}

/* Мітка мови проекту */
.project-lang {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Заголовок проекту */
.project-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    padding: 15px;
    text-align: center;
}

/* Індивідуальні кольори міток для мов */
.project-card:nth-child(1) .project-lang { background-color: #007bff; } /* Python */
.project-card:nth-child(2) .project-lang { background-color: #f39c12; } /* Java */
.project-card:nth-child(3) .project-lang { background-color: #e74c3c; } /* JavaScript */
.project-card:nth-child(4) .project-lang { background-color: #8e44ad; } /* Ruby */
.project-card:nth-child(5) .project-lang { background-color: #2ecc71; } /* Go */
.project-card:nth-child(6) .project-lang { background-color: #3498db; } /* C++ */
.project-card:nth-child(7) .project-lang { background-color: #16a085; } /* PHP */
.project-card:nth-child(8) .project-lang { background-color: #34495e; } /* Swift */
.project-card:nth-child(9) .project-lang { background-color: #9b59b6; } /* Kotlin */
.project-card:nth-child(10) .project-lang { background-color: #1abc9c; } /* C# */