<style>
    a {
        text-decoration: none; /* Remove underline */
        color: #fff; /* Keep the text color as it is without change */
    }

    /* a:hover {
        text-decoration: underline; 
        color: #fff;
    } */
</style>
<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-icons">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-youtube-play"></i>
                <i class="fa fa-github"></i>
                <i class="fa fa-mountain"></i>
            </div>
            
            <div class="footer-links">
                <a href="#">FORUM</a>
                <a href="#">ABOUT</a>
                <a href="#">LABORATORY</a>
            </div>
        </div>

        <div class="footer-text">
            <p>AlgoLibrary is optimized for learning and developing programming skills. Examples may be simplified for better comprehension and learning. Guides, references, and examples are regularly reviewed to avoid errors, but we cannot guarantee the complete accuracy of all information. By using AlgoLibrary, you agree that you have read and accepted our terms of use, cookie policy, and privacy policy.</p>
            <p><a class="hover-underline" href="{% url 'user_tos' %}">Copyright 2024 by AlgoLibrary.</a> All rights reserved. AlgoLibrary operates on its own technologies.</p>
        </div>
        
        <button class="scroll-top">&#9650;</button>
        <script>
            // Scroll to top functionality
            const scrollTopButton = document.querySelector('.scroll-top');

            scrollTopButton.addEventListener('click', () => {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth' // Smooth scrolling effect
                });
            });

            // Show/hide button based on scroll position
            window.addEventListener('scroll', () => {
                if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                    scrollTopButton.style.display = 'flex'; // Show button
                } else {
                    scrollTopButton.style.display = 'none'; // Hide button
                }
            });
        </script>
    </div>
</footer>
