<a (click)="goBack()" class="back-button">
  <i class="fas fa-arrow-left"></i>
</a>


<main>
  <!-- Модальне вікно -->
  <div *ngIf="isModalOpen" class="modal" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>Rename the Project</h2>
      <input type="text" [(ngModel)]="projectName" placeholder="Enter new name" required />
      <button class="btn btn-success" (click)="renameProject()">Rename</button>
    </div>
  </div>

  <div class="main-container">
    <div class="top-bar">
      <div class="project-something"></div>
      <div class="project-rename">
        <button class="rename-btn" (click)="openModal()">Rename</button>
      </div>
      <div class="project-delete">
        <button class="delete-btn" (click)="deleteProject()">Delete</button>
      </div>
    </div>
    
    <form class="code-form">
      <label for="code">Write your Python code below:</label>
      <textarea
        id="code"
        rows="12"
        class="code-editor"
        [(ngModel)]="pythonCode"
        name="code"
        (keydown)="handleTab($event)"
        (input)="updatePreview()"
        placeholder="Write your Python code here..."
      ></textarea>
      <div class="button-group">
        <button type="button" class="btn btn-success run-button" (click)="executeCode()">Run Code</button>
      </div>
    </form>

    <section class="preview-section">
      <h2>Preview</h2>
      <pre><code class="language-python" [innerHTML]="highlightedCode"></code></pre>
    </section>

    <section class="output-section">
      <h2>Output</h2>
      <pre id="output" class="output">{{ output }}</pre>
    </section>

    <section class="error-section">
      <h2>Error</h2>
      <pre id="error" class="error">{{ error }}</pre>
    </section>
  </div>
</main>
